obj/
obj
bin
bin/
.idea/
.idea

PushNotificationService.Application/obj
PushNotificationService.Application/bin
PushNotificationService.Application/obj/
PushNotificationService.Application/bin/

PushNotificationService.Shared/obj
PushNotificationService.Shared/bin
PushNotificationService.Shared/obj/
PushNotificationService.Shared/bin/

PushNotificationService.Infrastructure/obj
PushNotificationService.Infrastructure/bin
PushNotificationService.Infrastructure/obj/
PushNotificationService.Infrastructure/bin/

PushNotificationService.WebApi/obj
PushNotificationService.WebApi/bin
PushNotificationService.WebApi/obj/
PushNotificationService.WebApi/bin/